- provide(:title, "Under Construction Page")
.innerAll
  .error.innerAll
    .container
      .well.text-center
        .center.text-large.innerAll
          %i.fa.fa-5x.fa-chain-broken.text-danger
        %h1.strong.innerTB Oups!
        .well.bg-white.text-danger.strong
          This page is under construction!. Please try later